In [1]:
import pyEX
# c = pyEX.Client()
c = pyEX.Client(version='sandbox')

# Symbols data

In [2]:
c.symbolsDF().head()

,exchange,exchangeSuffix,exchangeName,name,date,type,iexId,region,currency,isEnabled,figi,cik,lei
symbol,,,,,,,,,,,,,
A,SNY,UN,"H TI EC . OSCGORYNKKXNWCE,EAN",lecoiIoinshTnn eAtlgg.ce,2021-03-07,cs,IEX_46574843354B2D52,US,USD,True,3D0GB2B6C0V0,1132739,R22A0YQXMI77XUGWP8W9
AA,SYN,NU,"KHR KAOYNGS CEXI CNTW, .NEEOC",AlcCpooa r,2021-03-07,cs,IEX_4238333734532D52,US,USD,True,33H0DBB3TB0G,1737261,04PT93Z162F5W1UE290W
AAA,ASUCP,PU,EYASCAN R,-t usTdC doyr OAtFPsrneoFrtEi siisTLBFt udA...,2021-03-07,et,IEX_5030314338392D52,US,USD,True,0P48G50BBSXF,1727862,None
AAAU,PASCU,PU,YAE ARNCS,laas oSdschih -aGid lmncy rPealacach hmlPFlE d...,2021-03-07,et,IEX_474B433136332D52,US,USD,True,P70XX08BB2GL,1750268,None
AAC=,NYS,UN,".EEK OXYC K,NNESA IHTRGCCWON",u tsn o)tosrhAdi isp or ScUiC(a reaotrA q-arr&...,2021-03-07,None,None,US,USD,True,0YC038GB6YBX,1852451,None

## Symbols

In [4]:
c.symbolsDF().head()

,exchange,exchangeSuffix,exchangeName,name,date,type,iexId,region,currency,isEnabled,figi,cik,lei
symbol,,,,,,,,,,,,,
A,SNY,UN,"H TI EC . OSCGORYNKKXNWCE,EAN",lecoiIoinshTnn eAtlgg.ce,2021-03-07,cs,IEX_46574843354B2D52,US,USD,True,3D0GB2B6C0V0,1132739,R22A0YQXMI77XUGWP8W9
AA,SYN,NU,"KHR KAOYNGS CEXI CNTW, .NEEOC",AlcCpooa r,2021-03-07,cs,IEX_4238333734532D52,US,USD,True,33H0DBB3TB0G,1737261,04PT93Z162F5W1UE290W
AAA,ASUCP,PU,EYASCAN R,-t usTdC doyr OAtFPsrneoFrtEi siisTLBFt udA...,2021-03-07,et,IEX_5030314338392D52,US,USD,True,0P48G50BBSXF,1727862,None
AAAU,PASCU,PU,YAE ARNCS,laas oSdschih -aGid lmncy rPealacach hmlPFlE d...,2021-03-07,et,IEX_474B433136332D52,US,USD,True,P70XX08BB2GL,1750268,None
AAC=,NYS,UN,".EEK OXYC K,NNESA IHTRGCCWON",u tsn o)tosrhAdi isp or ScUiC(a reaotrA q-arr&...,2021-03-07,None,None,US,USD,True,0YC038GB6YBX,1852451,None

In [3]:
c.symbols()[:5]

[{'symbol': 'A',
  'exchange': 'SNY',
  'exchangeSuffix': 'UN',
  'exchangeName': 'H TI EC . OSCGORYNKKXNWCE,EAN',
  'name': 'lecoiIoinshTnn eAtlgg.ce ',
  'date': '2021-03-07',
  'type': 'cs',
  'iexId': 'IEX_46574843354B2D52',
  'region': 'US',
  'currency': 'USD',
  'isEnabled': True,
  'figi': '3D0GB2B6C0V0',
  'cik': '1132739',
  'lei': 'R22A0YQXMI77XUGWP8W9'},
 {'symbol': 'AA',
  'exchange': 'SYN',
  'exchangeSuffix': 'NU',
  'exchangeName': 'KHR KAOYNGS CEXI CNTW, .NEEOC',
  'name': 'AlcCpooa r',
  'date': '2021-03-07',
  'type': 'cs',
  'iexId': 'IEX_4238333734532D52',
  'region': 'US',
  'currency': 'USD',
  'isEnabled': True,
  'figi': '33H0DBB3TB0G',
  'cik': '1737261',
  'lei': '04PT93Z162F5W1UE290W'},
 {'symbol': 'AAA',
  'exchange': 'ASUCP',
  'exchangeSuffix': 'PU',
  'exchangeName': 'EYASCAN R',
  'name': '-t usTdC doyr  OAtFPsrneoFrtEi  siisTLBFt  udAi LFrn',
  'date': '2021-03-07',
  'type': 'et',
  'iexId': 'IEX_5030314338392D52',
  'region': 'US',
  'currency': 'USD',
  'isEnabled': True,
  'figi': '0P48G50BBSXF',
  'cik': '1727862',
  'lei': None},
 {'symbol': 'AAAU',
  'exchange': 'PASCU',
  'exchangeSuffix': 'PU',
  'exchangeName': 'YAE ARNCS',
  'name': 'laas oSdschih -aGid lmncy rPealacach hmlPFlE d  oss dn yGoGhlSsaSGoE T',
  'date': '2021-03-07',
  'type': 'et',
  'iexId': 'IEX_474B433136332D52',
  'region': 'US',
  'currency': 'USD',
  'isEnabled': True,
  'figi': 'P70XX08BB2GL',
  'cik': '1750268',
  'lei': None},
 {'symbol': 'AAC=',
  'exchange': 'NYS',
  'exchangeSuffix': 'UN',
  'exchangeName': ' .EEK OXYC K,NNESA IHTRGCCWON',
  'name': 'u tsn o)tosrhAdi isp or ScUiC(a reaotrA q-arr&is l1a iO 1nC/WAes5  n',
  'date': '2021-03-07',
  'type': None,
  'iexId': None,
  'region': 'US',
  'currency': 'USD',
  'isEnabled': True,
  'figi': '0YC038GB6YBX',
  'cik': '1852451',
  'lei': None}]

In [66]:
c.symbolsList()[:10]
#c.symbolsList()

['A', 'AA', 'AAA', 'AAAU', 'AAC=', 'AACG', 'AACQ', 'AACQU', 'AACQW', 'AACU']

## IEX Symbols

In [36]:
c.iexSymbols()[:5]

[{'symbol': 'A', 'date': '2021-03-05', 'isEnabled': True},
 {'symbol': 'AA', 'date': '2021-03-05', 'isEnabled': True},
 {'symbol': 'AAA', 'date': '2021-03-05', 'isEnabled': True},
 {'symbol': 'AAAU', 'date': '2021-03-05', 'isEnabled': True},
 {'symbol': 'AAC=', 'date': '2021-03-05', 'isEnabled': True}]

In [37]:
c.iexSymbolsDF().head()

             date  isEnabled
symbol
A      2021-03-05       True
AA     2021-03-05       True
AAA    2021-03-05       True
AAAU   2021-03-05       True
AAC=   2021-03-05       True

In [38]:
c.iexSymbolsList()[:10]

['A', 'AA', 'AAA', 'AAAU', 'AAC=', 'AACG', 'AACQ', 'AACQU', 'AACQW', 'AADR']

## International Symbols

In [39]:
c.internationalSymbols()[:5]

[{'symbol': '-S',
  'exchange': 'NSY',
  'exchangeSuffix': 'NU',
  'exchangeName': '. HWEC NENC,NGOEO XCA TSKYIKR',
  'name': 'i0.i.%Ta nMD6 tiD r2nnR  8NEdn5E2 aS5uI58/50/2c5l ElPea F1Uc- ',
  'date': '2021-03-07',
  'type': 'ps',
  'iexId': None,
  'region': 'US',
  'currency': 'USD',
  'isEnabled': True,
  'figi': 'CRNLB60B04G7',
  'cik': '1154763',
  'lei': 'RHE7OP5RCF4REBRS855N'},
 {'symbol': '097098628',
  'exchange': 'IRN',
  'exchangeSuffix': '0',
  'exchangeName': 'FNAIR',
  'name': '1 8BoP/ -T0L 2PS/n2F5eSI 2U  ac0N naDLiC1 f 0L',
  'date': '2021-03-07',
  'type': 'ps',
  'iexId': None,
  'region': 'US',
  'currency': 'USD',
  'isEnabled': True,
  'figi': '0X05SBBWGH7P',
  'cik': None,
  'lei': '9I3YYG05Z013SWSZ4C6E'},
 {'symbol': '1',
  'exchange': 'SAN',
  'exchangeSuffix': '0',
  'exchangeName': ' LRTASSLADNA-M EKA Q',
  'name': '-tsug.ro1eTsvers 4et L PeSia-tn nSllteRoir tfr  ahdF CoiFM t-pstii P',
  'date': '2021-03-07',
  'type': 'oef',
  'iexId': None,
  'region': 'US',
  'currency': 'USD',
  'isEnabled': True,
  'figi': None,
  'cik': '899465',
  'lei': None},
 {'symbol': '46147E460',
  'exchange': 'ANS',
  'exchangeSuffix': '0',
  'exchangeName': 'D-LSMAQ RAKTSL A NAE',
  'name': 'Ia esnePn oetsa-v2t&i0rC ekt cpP dise UrMllSnarclc/oII2u0SSDtt Sr  a  ',
  'date': '2021-03-07',
  'type': 'oef',
  'iexId': None,
  'region': 'US',
  'currency': 'USD',
  'isEnabled': True,
  'figi': '0GSL2Q0YBBNV',
  'cik': '105473',
  'lei': None},
 {'symbol': '48130V236',
  'exchange': 'RNI',
  'exchangeSuffix': '0',
  'exchangeName': 'INARF',
  'name': 'po ca22oLDPy C-    2nn 0lgm a6a rhPIi FT0/SPLiJSne5nL/C0aNU1MC s0a',
  'date': '2021-03-07',
  'type': 'ps',
  'iexId': None,
  'region': 'US',
  'currency': 'USD',
  'isEnabled': True,
  'figi': '80QBH50BMGD6',
  'cik': None,
  'lei': 'FN579V98Y4FV60J0O3DJ'}]

In [91]:
c.internationalSymbolsDF("CA").head()
symbols=c.internationalSymbolsDF("CA")
#symbols.keys()
#symbols.loc["AAN-CV"]
len(symbols.index)

4863

In [41]:
c.internationalSymbolsList()[:5]

['-S', '097098628', '1', '46147E460', '48130V236']

## FX Symbols

In [42]:
c.fxSymbols()

{'currencies': [{'code': 'DAU', 'name': 'a irllAlaoranDtsu'},
  {'code': 'SDU', 'name': 'loDS ra.Ul.'},
  {'code': 'CDA', 'name': 'a CnidnlalraaoD'},
  {'code': 'CHF', 'name': 'issSa ncFrw'},
  {'code': 'UER', 'name': 'oEur'},
  {'code': 'BPG', 'name': 'tBPri dusohin'},
  {'code': 'YJP', 'name': 'JeaY paesenn'},
  {'code': 'KON', 'name': 'iNogrorea ewnKn'},
  {'code': 'DNZ', 'name': 'oDNewn aarZ eallld'},
  {'code': 'SKE', 'name': 'aSrondKesi wh'},
  {'code': 'ADE', 'name': 'DA. harEiU.m.'},
  {'code': 'NGB', 'name': 'uaL givnaBlre'},
  {'code': 'BDH', 'name': 'airni iDhraBna'},
  {'code': 'CHN', 'name': ' HiY(bKCeiuanmi n)Rhs eenn'},
  {'code': 'NYC', 'name': 'Yin Cmubaie sRnneenhi'},
  {'code': 'CZK', 'name': 'h cCeouzKarn'},
  {'code': 'DKK', 'name': 'aDnse oKnrih'},
  {'code': 'KHD', 'name': 'ognaH nloo grKDl'},
  {'code': 'FHU', 'name': 'oFntiaiHugran rn'},
  {'code': 'RDI', 'name': 'a nnidspanuhiIoRe'},
  {'code': 'ISL', 'name': 'w liearNeshekIS le'},
  {'code': 'INR', 'name': 'diIRp uenena'},
  {'code': 'WRK', 'name': 'KnoWroae n'},
  {'code': 'KDW', 'name': ' iDawiKtnirau'},
  {'code': 'NMX', 'name': ' xaPeiecosnM'},
  {'code': 'YRM', 'name': 'aiiny giaRsMltang'},
  {'code': 'PNL', 'name': 'lolPhts Zoyi'},
  {'code': 'NOR', 'name': 'Lnuni emRoaa'},
  {'code': 'RBU', 'name': 'sb auiRRslune'},
  {'code': 'ASR', 'name': 'aSnAidlu a biryiaRa'},
  {'code': 'GSD', 'name': 'rag eDnoripSlalo'},
  {'code': 'THB', 'name': 'haatih BT'},
  {'code': 'TRY', 'name': 'Lkiiarurs hT'},
  {'code': 'DTW', 'name': 'aiTalrDoawnl '},
  {'code': 'RAZ', 'name': 'udRiocrAhfanntaS  '},
  {'code': 'BCT', 'name': '0'},
  {'code': 'RPX', 'name': '0'},
  {'code': 'LTC', 'name': '0'},
  {'code': 'THE', 'name': '0'},
  {'code': 'HBC', 'name': '0'}],
 'pairs': [{'fromCurrency': 'UDA', 'toCurrency': 'UDS', 'symbol': 'AUDUSD'},
  {'fromCurrency': 'CDA', 'toCurrency': 'CFH', 'symbol': 'CADCHF'},
  {'fromCurrency': 'UER', 'toCurrency': 'DUA', 'symbol': 'EURAUD'},
  {'fromCurrency': 'UER', 'toCurrency': 'DAC', 'symbol': 'EURCAD'},
  {'fromCurrency': 'REU', 'toCurrency': 'HCF', 'symbol': 'EURCHF'},
  {'fromCurrency': 'REU', 'toCurrency': 'GPB', 'symbol': 'EURGBP'},
  {'fromCurrency': 'URE', 'toCurrency': 'PYJ', 'symbol': 'EURJPY'},
  {'fromCurrency': 'ERU', 'toCurrency': 'OKN', 'symbol': 'EURNOK'},
  {'fromCurrency': 'EUR', 'toCurrency': 'ZDN', 'symbol': 'EURNZD'},
  {'fromCurrency': 'REU', 'toCurrency': 'EKS', 'symbol': 'EURSEK'},
  {'fromCurrency': 'URE', 'toCurrency': 'UDS', 'symbol': 'EURUSD'},
  {'fromCurrency': 'BPG', 'toCurrency': 'AUD', 'symbol': 'GBPAUD'},
  {'fromCurrency': 'GBP', 'toCurrency': 'DCA', 'symbol': 'GBPCAD'},
  {'fromCurrency': 'GBP', 'toCurrency': 'CHF', 'symbol': 'GBPCHF'},
  {'fromCurrency': 'GBP', 'toCurrency': 'YPJ', 'symbol': 'GBPJPY'},
  {'fromCurrency': 'GPB', 'toCurrency': 'KNO', 'symbol': 'GBPNOK'},
  {'fromCurrency': 'PBG', 'toCurrency': 'NZD', 'symbol': 'GBPNZD'},
  {'fromCurrency': 'PGB', 'toCurrency': 'SKE', 'symbol': 'GBPSEK'},
  {'fromCurrency': 'PBG', 'toCurrency': 'UDS', 'symbol': 'GBPUSD'},
  {'fromCurrency': 'JPY', 'toCurrency': 'ACD', 'symbol': 'JPYCAD'},
  {'fromCurrency': 'YJP', 'toCurrency': 'HCF', 'symbol': 'JPYCHF'},
  {'fromCurrency': 'DZN', 'toCurrency': 'UDS', 'symbol': 'NZDUSD'},
  {'fromCurrency': 'DSU', 'toCurrency': 'DEA', 'symbol': 'USDAED'},
  {'fromCurrency': 'SUD', 'toCurrency': 'GNB', 'symbol': 'USDBGN'},
  {'fromCurrency': 'UDS', 'toCurrency': 'DHB', 'symbol': 'USDBHD'},
  {'fromCurrency': 'DSU', 'toCurrency': 'CDA', 'symbol': 'USDCAD'},
  {'fromCurrency': 'SDU', 'toCurrency': 'HCF', 'symbol': 'USDCHF'},
  {'fromCurrency': 'DUS', 'toCurrency': 'CNH', 'symbol': 'USDCNH'},
  {'fromCurrency': 'DSU', 'toCurrency': 'YNC', 'symbol': 'USDCNY'},
  {'fromCurrency': 'USD', 'toCurrency': 'CKZ', 'symbol': 'USDCZK'},
  {'fromCurrency': 'SDU', 'toCurrency': 'KDK', 'symbol': 'USDDKK'},
  {'fromCurrency': 'DUS', 'toCurrency': 'HKD', 'symbol': 'USDHKD'},
  {'fromCurrency': 'DUS', 'toCurrency': 'FUH', 'symbol': 'USDHUF'},
  {'fromCurrency': 'DSU', 'toCurrency': 'DRI', 'symbol': 'USDIDR'},
  {'fromCurrency': 'SDU', 'toCurrency': 'SLI', 'symbol': 'USDILS'},
  {'fromCurrency': 'DSU', 'toCurrency': 'NIR', 'symbol': 'USDINR'},
  {'fromCurrency': 'SDU', 'toCurrency': 'PJY', 'symbol': 'USDJPY'},
  {'fromCurrency': 'DSU', 'toCurrency': 'KRW', 'symbol': 'USDKRW'},
  {'fromCurrency': 'DUS', 'toCurrency': 'WKD', 'symbol': 'USDKWD'},
  {'fromCurrency': 'USD', 'toCurrency': 'MNX', 'symbol': 'USDMXN'},
  {'fromCurrency': 'DUS', 'toCurrency': 'MRY', 'symbol': 'USDMYR'},
  {'fromCurrency': 'USD', 'toCurrency': 'NOK', 'symbol': 'USDNOK'},
  {'fromCurrency': 'USD', 'toCurrency': 'PLN', 'symbol': 'USDPLN'},
  {'fromCurrency': 'DSU', 'toCurrency': 'NOR', 'symbol': 'USDRON'},
  {'fromCurrency': 'UDS', 'toCurrency': 'BRU', 'symbol': 'USDRUB'},
  {'fromCurrency': 'SDU', 'toCurrency': 'RAS', 'symbol': 'USDSAR'},
  {'fromCurrency': 'SUD', 'toCurrency': 'SEK', 'symbol': 'USDSEK'},
  {'fromCurrency': 'DSU', 'toCurrency': 'GSD', 'symbol': 'USDSGD'},
  {'fromCurrency': 'SDU', 'toCurrency': 'THB', 'symbol': 'USDTHB'},
  {'fromCurrency': 'UDS', 'toCurrency': 'YRT', 'symbol': 'USDTRY'},
  {'fromCurrency': 'DSU', 'toCurrency': 'WDT', 'symbol': 'USDTWD'},
  {'fromCurrency': 'USD', 'toCurrency': 'AZR', 'symbol': 'USDZAR'},
  {'fromCurrency': 'CTB', 'toCurrency': 'SDU', 'symbol': 'BTCUSD'},
  {'fromCurrency': 'BCT', 'toCurrency': 'ERU', 'symbol': 'BTCEUR'},
  {'fromCurrency': 'UER', 'toCurrency': 'SDU', 'symbol': 'EURUSD'},
  {'fromCurrency': 'PXR', 'toCurrency': 'USD', 'symbol': 'XRPUSD'},
  {'fromCurrency': 'XPR', 'toCurrency': 'REU', 'symbol': 'XRPEUR'},
  {'fromCurrency': 'XPR', 'toCurrency': 'TBC', 'symbol': 'XRPBTC'},
  {'fromCurrency': 'LCT', 'toCurrency': 'DUS', 'symbol': 'LTCUSD'},
  {'fromCurrency': 'LCT', 'toCurrency': 'URE', 'symbol': 'LTCEUR'},
  {'fromCurrency': 'LTC', 'toCurrency': 'CBT', 'symbol': 'LTCBTC'},
  {'fromCurrency': 'HET', 'toCurrency': 'UDS', 'symbol': 'ETHUSD'},
  {'fromCurrency': 'HTE', 'toCurrency': 'EUR', 'symbol': 'ETHEUR'},
  {'fromCurrency': 'HET', 'toCurrency': 'BCT', 'symbol': 'ETHBTC'},
  {'fromCurrency': 'CBH', 'toCurrency': 'SUD', 'symbol': 'BCHUSD'},
  {'fromCurrency': 'HBC', 'toCurrency': 'EUR', 'symbol': 'BCHEUR'},
  {'fromCurrency': 'CBH', 'toCurrency': 'TCB', 'symbol': 'BCHBTC'}]}

In [43]:
dfs = c.fxSymbolsDF()
dfs[0].head()

                            name
code
ACD              iDna aroCnaaldl
ARS          nRaA l aydSrauiiabi
BCT                            0
BHC                            0
CHN   KYanii( R eniesb)nHhmen Cu

In [44]:
dfs[1].head()

  fromCurrency toCurrency  symbol
0          DAU        SUD  AUDUSD
1          CAD        HCF  CADCHF
2          URE        DUA  EURAUD
3          URE        ADC  EURCAD
4          EUR        HFC  EURCHF

In [45]:
l = c.fxSymbolsList()
l[0][:5]

['DAU', 'SDU', 'CDA', 'CHF', 'UER']

In [46]:
l[1][:5]

['UDAUDS', 'CDACFH', 'UERDUA', 'UERDAC', 'REUHCF']

## Options Symbols

In [47]:
d = c.optionsSymbols()
list(d.keys())[:5]

['HOV', '3LR-GF', '02Y-GS', 'IT6-GB', 'CYAD-FP']

In [48]:
c.optionsSymbolsDF().head()

                                                    expirations
00005-H1      [20201215, 20210112, 20210212, 20210318, 20210...
00005-H2      [20201209, 20210104, 20210219, 20210317, 20210...
00005-HK      [20201206, 20210104, 20210205, 20210308, 20210...
000270-KP                                            [20210310]
000380118-LX                     [20210310, 20210518, 20210609]

In [49]:
c.optionsSymbolsList()[:5]

['HOV-203610',
 '3LR-GF-20210309',
 '02Y-GS-20210411',
 '02Y-GS-20210712',
 '02Y-GS-20211009']

## International Exchanges

In [50]:
c.internationalExchanges()[:5]

[{'exchange': 'BEXS',
  'region': 'AZ',
  'description': 'aBnuegc co EtkxkahS',
  'mic': 'BESX',
  'exchangeSuffix': 'llnu-'},
 {'exchange': 'BUD',
  'region': 'IE',
  'description': 'DntnulxuriEeb o',
  'mic': 'DBUX',
  'exchangeSuffix': 'DI-'},
 {'exchange': 'KKHGSH',
  'region': 'HK',
  'description': 'gmtioaoHnOooiHkne hgga g  Si htSeggKxtke   ofEhtoKScnadn cnC ocLnncn',
  'mic': 'SCSH',
  'exchangeSuffix': 'H-1'},
 {'exchange': 'ACR',
  'region': 'VE',
  'description': 'ckhsntEa cax aSaoCregc',
  'mic': 'ABCV',
  'exchangeSuffix': 'VS-'},
 {'exchange': 'LOC',
  'region': 'LK',
  'description': 'blomokCgxoanch e tEcSo',
  'mic': 'COLX',
  'exchangeSuffix': 'LS-'}]

In [51]:
c.internationalExchangesDF().head()

,exchange,region,description,mic,exchangeSuffix
0,BEXS,AZ,aBnuegc co EtkxkahS,BESX,llnu-
1,BUD,IE,DntnulxuriEeb o,DBUX,DI-
2,KKHGSH,HK,gmtioaoHnOooiHkne hgga g Si htSeggKxtke ofE...,SCSH,H-1
3,ACR,VE,ckhsntEa cax aSaoCregc,ABCV,VS-
4,LOC,LK,blomokCgxoanch e tEcSo,COLX,LS-

## US Exchanges

In [52]:
c.exchanges()[:5]

[{'mic': 'CRAX',
  'name': ' crSEAaYN',
  'longName': ' SCARANYE',
  'tapeId': 'P',
  'oatsId': 'PX',
  'refId': 'SPE',
  'type': 'equities'},
 {'mic': 'DEGX',
  'name': 'XGoC EebD',
  'longName': ' atqSeUD bgixeXhns uEo cCGeEEi',
  'tapeId': 'K',
  'oatsId': 'KX',
  'refId': 'EXDG',
  'type': 'equities'},
 {'mic': 'ABST',
  'name': 'BCobZ eX',
  'longName': 'heBSabcion qtiu sxC gUeeZ EXE',
  'tapeId': 'Z',
  'oatsId': 'ZX',
  'refId': 'STBA',
  'type': 'equities'},
 {'mic': 'AYBT',
  'name': 'XY bCeoB',
  'longName': 'Y Ecoga CeESniXeUt  Bhsbqiuxe',
  'tapeId': 'Y',
  'oatsId': 'YX',
  'refId': 'YABT',
  'type': 'equities'},
 {'mic': 'ADEG',
  'name': 'E AeCDboG',
  'longName': 'CEgoA Dnae iEsStbx qu heceGiUE',
  'tapeId': 'J',
  'oatsId': 'JX',
  'refId': 'ADGE',
  'type': 'equities'}]

In [53]:
c.exchangesDF().head()

,mic,name,longName,tapeId,oatsId,refId,type
0,CRAX,crSEAaYN,SCARANYE,P,PX,SPE,equities
1,DEGX,XGoC EebD,atqSeUD bgixeXhns uEo cCGeEEi,K,KX,EXDG,equities
2,ABST,BCobZ eX,heBSabcion qtiu sxC gUeeZ EXE,Z,ZX,STBA,equities
3,AYBT,XY bCeoB,Y Ecoga CeESniXeUt Bhsbqiuxe,Y,YX,YABT,equities
4,ADEG,E AeCDboG,CEgoA Dnae iEsStbx qu heceGiUE,J,JX,ADGE,equities

## US Holidays

In [54]:
c.holidays()[:5]

[{'date': '2021-04-02', 'settlementDate': '2021-03-27'}]

In [55]:
c.holidaysDF().head()

        date settlementDate
0 2021-04-02     2021-03-27

## Sectors

In [56]:
c.sectors()[:5]

[{'name': 'cicun)OrrsolrtAebdcev a tpSin(heem isietPxi t'},
 {'name': 'isvaScimeCrreeo lcm'},
 {'name': 'Rtiraee Tadl'},
 {'name': 'Do intieriibvcseurSst'},
 {'name': 'ucdsIsest Pnirrose'}]

In [57]:
c.sectorsDF().head()

                                            name
0  cicun)OrrsolrtAebdcev a tpSin(heem isietPxi t
1                            isvaScimeCrreeo lcm
2                                   Rtiraee Tadl
3                          Do intieriibvcseurSst
4                             ucdsIsest Pnirrose

## Tags

In [58]:
c.tags()[:5]

[{'name': 'tshh ieea e rcFOalnniliVc'},
 {'name': 'vSgoeneir'},
 {'name': 'niunrLauMel-I escnti'},
 {'name': 'Soo  dtnpogsorsGeSi rt'},
 {'name': 'basricntSuaanhei aslildIWcn  nB ngdr gt eaearot nrPbtedsoPh'}]

In [59]:
c.tagsDF().head()

                                                name
0                          tshh ieea e rcFOalnniliVc
1                                          vSgoeneir
2                               niunrLauMel-I escnti
3                             Soo  dtnpogsorsGeSi rt
4  basricntSuaanhei aslildIWcn  nB ngdr gt eaearo...

# Data Points API

In [60]:
c.points()[:5]

[{'key': 'DGS1MO',
  'weight': 1000,
  'description': '1-Month Treasury Rate (daily)',
  'lastUpdated': '2021-03-07T23:00:15+00:00'},
 {'key': 'DGS1',
  'weight': 1000,
  'description': '1-Year Treasury Rate (daily)',
  'lastUpdated': '2021-03-07T23:00:06+00:00'},
 {'key': 'DGS10',
  'weight': 1000,
  'description': '10-Year Treasury Rate (daily)',
  'lastUpdated': '2021-03-07T23:00:03+00:00'},
 {'key': 'DGS2',
  'weight': 1000,
  'description': '2-Year Treasury Rate (daily)',
  'lastUpdated': '2021-03-07T23:00:08+00:00'},
 {'key': 'DGS20',
  'weight': 1000,
  'description': '20-Year Treasury Rate (daily)',
  'lastUpdated': '2021-03-07T23:00:20+00:00'}]

In [61]:
c.pointsDF().head()

      key  weight                    description               lastUpdated
0  DGS1MO    1000  1-Month Treasury Rate (daily) 2021-03-07 23:00:15+00:00
1    DGS1    1000   1-Year Treasury Rate (daily) 2021-03-07 23:00:06+00:00
2   DGS10    1000  10-Year Treasury Rate (daily) 2021-03-07 23:00:03+00:00
3    DGS2    1000   2-Year Treasury Rate (daily) 2021-03-07 23:00:08+00:00
4   DGS20    1000  20-Year Treasury Rate (daily) 2021-03-07 23:00:20+00:00

In [62]:
c.points(key='DGS10')

1.61

In [63]:
c.pointsDF('aapl').head()

,key,weight,description,lastUpdated
0,NEXTDIVIDENDDATE,1,,2020-11-05 20:23:03+00:00
1,BETA,1,,2021-03-07 09:10:42+00:00
2,ACCOUNTSPAYABLE,3000,Balance Sheet: accountsPayable,2021-02-11 21:07:54+00:00
3,CAPITALSURPLUS,3000,Balance Sheet: capitalSurplus,2021-02-11 21:07:54+00:00
4,COMMONSTOCK,3000,Balance Sheet: commonStock,2021-02-11 21:07:54+00:00

In [64]:
c.points('aapl', 'QUOTE-LATESTPRICE')

PyEXception: ('Response 404 - ', 'Not found')

# Stock API

In [ ]:
symbol = 'AAPL'

## Advanced Stats

In [ ]:
c.advancedStats(symbol)

In [ ]:
c.advancedStatsDF(symbol)

## Balance Sheet

In [ ]:
c.balanceSheet(symbol)

In [ ]:
c.balanceSheetDF(symbol)

## Book

In [ ]:
c.book(symbol)

In [ ]:
c.bookDF(symbol).head()

## Cashflow

In [ ]:
c.cashFlow(symbol)

In [ ]:
c.cashFlowDF(symbol)

## Collections

In [ ]:
c.collections?

In [ ]:
c.collectionsDF?

## Company

In [ ]:
c.company(symbol)

In [ ]:
c.companyDF(symbol)

## Delayed Quote

In [ ]:
c.delayedQuote(symbol)

In [ ]:
c.delayedQuoteDF(symbol)

## Dividends

In [ ]:
c.dividends(symbol)

In [ ]:
c.dividendsDF(symbol)

## Earnings

In [ ]:
c.earnings(symbol)

In [ ]:
c.earningsDF(symbol)

## Earnings Today

In [ ]:
c.earningsToday()

In [ ]:
c.earningsTodayDF().head()

## Effective Spread

In [ ]:
c.spread(symbol)

In [ ]:
c.spreadDF(symbol)

## Estimates

In [ ]:
c.estimates(symbol)

In [ ]:
c.estimatesDF(symbol)

## Financials

In [ ]:
c.financials(symbol)

In [ ]:
c.financialsDF(symbol)

## Fund Ownership

In [ ]:
c.fundOwnership(symbol)

In [ ]:
c.fundOwnershipDF(symbol)

## Historical Prices

In [ ]:
c.chart(symbol)

In [ ]:
c.chartDF(symbol)

## Income Statement

In [ ]:
c.incomeStatement(symbol)

In [ ]:
c.incomeStatementDF(symbol)

## Insider Roster

In [ ]:
c.insiderRoster(symbol)

In [ ]:
c.insiderRosterDF(symbol)

## Insider Summary

In [ ]:
c.insiderSummary(symbol)

In [ ]:
c.insiderSummaryDF(symbol)

## Insider Transactions

In [ ]:
c.insiderTransactions(symbol)[:5]

In [ ]:
c.insiderTransactionsDF(symbol)

## Institutional Ownership

In [ ]:
c.institutionalOwnership(symbol)

In [ ]:
c.institutionalOwnershipDF(symbol)

## Intraday Prices

In [ ]:
c.intraday(symbol)[:5]

In [ ]:
c.intradayDF(symbol).head()

## IPO Calendar

In [ ]:
c.ipoToday()

In [ ]:
c.ipoTodayDF()

In [ ]:
c.ipoUpcoming()

In [ ]:
c.ipoUpcomingDF()

## Key Stats

In [ ]:
c.keyStats(symbol)

In [ ]:
c.keyStatsDF(symbol)

## Largest Trades

In [ ]:
c.largestTrades(symbol)

In [ ]:
c.largestTradesDF(symbol)

## List

In [ ]:
c.list()[:5]

In [ ]:
c.listDF().head()

## Logo

In [ ]:
c.logo(symbol)

In [ ]:
c.logoPNG(symbol) # Not available for sandbox

In [ ]:
c.logoNotebook(symbol) # Not available for sandbox

## Market Volume

In [ ]:
c.marketVolume()[:5]

In [ ]:
c.marketVolumeDF()

## News

In [ ]:
c.news(symbol)[:5]

In [ ]:
c.newsDF(symbol).head()

In [ ]:
c.marketNews()[:5]

In [ ]:
c.marketNewsDF().head()

## OHLC

In [ ]:
c.ohlc(symbol)

In [ ]:
c.ohlcDF(symbol)

## Open/Close Price

In [ ]:
c.ohlc(symbol)

In [ ]:
c.ohlcDF(symbol)

## Options

In [ ]:
exps = c.optionExpirations(symbol)
exps

In [ ]:
c.options(symbol, exps[0])[:5]

In [ ]:
c.optionsDF(symbol, exps[0]).head()

## Peers

In [ ]:
c.peers(symbol)

In [ ]:
c.peersDF(symbol)

## Previous Day Price

In [ ]:
c.yesterday(symbol)

In [ ]:
c.yesterdayDF(symbol)

In [ ]:
c.marketYesterday()['A']

In [ ]:
c.marketYesterdayDF().head()

## Price

In [ ]:
c.price(symbol)

In [ ]:
c.priceDF(symbol)

## Price Target

In [ ]:
c.priceTarget(symbol)

In [ ]:
c.priceTargetDF(symbol)

## Quote

In [ ]:
c.quote(symbol)

In [ ]:
c.quoteDF(symbol)

# Recommendation Trends

# Sector Performance

In [ ]:
c.sectorPerformance()

In [ ]:
c.sectorPerformanceDF()

## Splits

In [ ]:
c.splits(symbol)

In [ ]:
c.splitsDF(symbol)

## Upcoming Events

## Volume By Venue

In [ ]:
c.volumeByVenue(symbol)

In [ ]:
c.volumeByVenueDF(symbol)

# Alternative

## crypto

In [ ]:
# c.crypto()

In [ ]:
# c.cryptoDF()

## sentiment

In [ ]:
c.sentiment(symbol)

In [ ]:
c.sentimentDF(symbol)

## CEO Compensation

In [ ]:
c.ceoCompensation(symbol)

In [ ]:
c.ceoCompensationDF(symbol)

# Forex

## Exchange Rates

# IEX Data

## TOPS

## Last

## DEEP

## DEEP Auction

## DEEP Book

## DEEP Operational Halt Status

## DEEP Official Price

## DEEP Security Event

## DEEP Short Sale Price Test Status

## DEEP System Event

## DEEP Trades

## DEEP Trade Break

## DEEP Trading Status

## Listed Regulation SHO Threshold Securities List In Dev

## Listed Short Interest List In Dev

## Stats Historical Daily In Dev

## Stats Historical Summary

## Stats Intraday

## Stats Recent

## Stats Records

# API Metadata